USE [master]
GO
/****** Object:  Database [MovieTrack1]    Script Date: 5/23/2013 11:18:43 PM ******/
CREATE DATABASE [MovieTrack1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieTrack1', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MovieTrack1.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MovieTrack1_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MovieTrack1_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieTrack1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieTrack1]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 5/23/2013 11:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Actor](
	[actorID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[actorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DbPediaType]    Script Date: 5/23/2013 11:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DbPediaType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Domain]    Script Date: 5/23/2013 11:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Domain](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[frequency] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 5/23/2013 11:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Genre](
	[genreID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[genreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lang]    Script Date: 5/23/2013 11:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lang](
	[langID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[langID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 5/23/2013 11:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Movie](
	[movieID] [int] IDENTITY(1,1) NOT NULL,
	[imdb_id] [varchar](100) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[year] [varchar](4) NULL,
	[thumbnail] [varchar](200) NULL,
	[video] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[movieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Movie_Actor]    Script Date: 5/23/2013 11:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Actor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movieID] [int] NOT NULL,
	[actorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Movie_Genre]    Script Date: 5/23/2013 11:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Genre](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movieID] [int] NOT NULL,
	[genreID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Movie_Lang]    Script Date: 5/23/2013 11:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Lang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movieID] [int] NOT NULL,
	[langID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subtitle]    Script Date: 5/23/2013 11:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subtitle](
	[subtitleID] [int] IDENTITY(1,1) NOT NULL,
	[status] [int] NOT NULL,
	[movieID] [int] NOT NULL,
	[langID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subtitleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Actor] ON 

INSERT [dbo].[Actor] ([actorID], [name]) VALUES (120, N'?lex Angulo')
INSERT [dbo].[Actor] ([actorID], [name]) VALUES (31, N'A.K. Hangal')
INSERT [dbo].[Actor] ([actorID], [name]) VALUES (587, N'Abraham Benrubi')
GO
SET IDENTITY_INSERT [dbo].[Actor] OFF
SET IDENTITY_INSERT [dbo].[DbPediaType] ON 

INSERT [dbo].[DbPediaType] ([id], [name]) VALUES (1, N'http://dbpedia.org/ontology/AcademicJournal')
INSERT [dbo].[DbPediaType] ([id], [name]) VALUES (2, N'http://dbpedia.org/ontology/Activity')
INSERT [dbo].[DbPediaType] ([id], [name]) VALUES (3, N'http://dbpedia.org/ontology/Actor')
GO
SET IDENTITY_INSERT [dbo].[DbPediaType] OFF
SET IDENTITY_INSERT [dbo].[Domain] ON 

INSERT [dbo].[Domain] ([id], [name], [frequency]) VALUES (1, N'sexuality', 921)
INSERT [dbo].[Domain] ([id], [name], [frequency]) VALUES (2, N'time_period', 461)
INSERT [dbo].[Domain] ([id], [name], [frequency]) VALUES (3, N'animal_husbandry', 197)
GO
SET IDENTITY_INSERT [dbo].[Domain] OFF
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([genreID], [name]) VALUES (3, N'Action')
INSERT [dbo].[Genre] ([genreID], [name]) VALUES (5, N'Adventure')
INSERT [dbo].[Genre] ([genreID], [name]) VALUES (16, N'Animation')
SET IDENTITY_INSERT [dbo].[Genre] OFF
SET IDENTITY_INSERT [dbo].[Lang] ON 

INSERT [dbo].[Lang] ([langID], [name]) VALUES (7, N'Arabic')
INSERT [dbo].[Lang] ([langID], [name]) VALUES (18, N'Bulgarian')
INSERT [dbo].[Lang] ([langID], [name]) VALUES (3, N'Danish')
SET IDENTITY_INSERT [dbo].[Lang] OFF
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([movieID], [imdb_id], [name], [year], [thumbnail], [video]) VALUES (1, N'tt0457430', N'El laberinto del fauno', N'2006', N'1.jpg', NULL)
INSERT [dbo].[Movie] ([movieID], [imdb_id], [name], [year], [thumbnail], [video]) VALUES (2, N'tt1440180', N'Young Goethe in Love', N'2011', N'2.jpg', NULL)
INSERT [dbo].[Movie] ([movieID], [imdb_id], [name], [year], [thumbnail], [video]) VALUES (3, N'tt0073707', N'Sholay', N'1975', N'3.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Movie] OFF
SET IDENTITY_INSERT [dbo].[Movie_Actor] ON 

INSERT [dbo].[Movie_Actor] ([id], [movieID], [actorID]) VALUES (115, 1, 115)
INSERT [dbo].[Movie_Actor] ([id], [movieID], [actorID]) VALUES (116, 1, 116)
INSERT [dbo].[Movie_Actor] ([id], [movieID], [actorID]) VALUES (117, 1, 117)
GO
SET IDENTITY_INSERT [dbo].[Movie_Actor] OFF
SET IDENTITY_INSERT [dbo].[Movie_Genre] ON 

INSERT [dbo].[Movie_Genre] ([id], [movieID], [genreID]) VALUES (26, 1, 8)
INSERT [dbo].[Movie_Genre] ([id], [movieID], [genreID]) VALUES (27, 1, 12)
INSERT [dbo].[Movie_Genre] ([id], [movieID], [genreID]) VALUES (28, 1, 13)
GO
SET IDENTITY_INSERT [dbo].[Movie_Genre] OFF
SET IDENTITY_INSERT [dbo].[Movie_Lang] ON 

INSERT [dbo].[Movie_Lang] ([id], [movieID], [langID]) VALUES (12, 1, 13)
INSERT [dbo].[Movie_Lang] ([id], [movieID], [langID]) VALUES (17, 2, 11)
INSERT [dbo].[Movie_Lang] ([id], [movieID], [langID]) VALUES (3, 3, 8)
SET IDENTITY_INSERT [dbo].[Movie_Lang] OFF
SET IDENTITY_INSERT [dbo].[Subtitle] ON 

INSERT [dbo].[Subtitle] ([subtitleID], [status], [movieID], [langID]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Subtitle] ([subtitleID], [status], [movieID], [langID]) VALUES (2, 1, 2, 1)
INSERT [dbo].[Subtitle] ([subtitleID], [status], [movieID], [langID]) VALUES (3, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[Subtitle] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Actor__72E12F1BD0AFAFF8]    Script Date: 5/23/2013 11:18:43 PM ******/
ALTER TABLE [dbo].[Actor] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__DbPediaT__72E12F1BBDA1ACEC]    Script Date: 5/23/2013 11:18:43 PM ******/
ALTER TABLE [dbo].[DbPediaType] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Domain__72E12F1B4F0216F1]    Script Date: 5/23/2013 11:18:43 PM ******/
ALTER TABLE [dbo].[Domain] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Genre__72E12F1BBE0F938B]    Script Date: 5/23/2013 11:18:43 PM ******/
ALTER TABLE [dbo].[Genre] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Lang__72E12F1BC1AFE50E]    Script Date: 5/23/2013 11:18:43 PM ******/
ALTER TABLE [dbo].[Lang] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Movie__F12E201B5941D17B]    Script Date: 5/23/2013 11:18:43 PM ******/
ALTER TABLE [dbo].[Movie] ADD UNIQUE NONCLUSTERED 
(
	[imdb_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Movie_Ac__EAD8123D41A5F351]    Script Date: 5/23/2013 11:18:43 PM ******/
ALTER TABLE [dbo].[Movie_Actor] ADD UNIQUE NONCLUSTERED 
(
	[movieID] ASC,
	[actorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Movie_Ge__712E70450FA4374F]    Script Date: 5/23/2013 11:18:43 PM ******/
ALTER TABLE [dbo].[Movie_Genre] ADD UNIQUE NONCLUSTERED 
(
	[movieID] ASC,
	[genreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Movie_La__1A924A20B486323B]    Script Date: 5/23/2013 11:18:43 PM ******/
ALTER TABLE [dbo].[Movie_Lang] ADD UNIQUE NONCLUSTERED 
(
	[movieID] ASC,
	[langID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movie_Actor]  WITH CHECK ADD FOREIGN KEY([actorID])
REFERENCES [dbo].[Actor] ([actorID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie_Actor]  WITH CHECK ADD FOREIGN KEY([movieID])
REFERENCES [dbo].[Movie] ([movieID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie_Genre]  WITH CHECK ADD FOREIGN KEY([genreID])
REFERENCES [dbo].[Genre] ([genreID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie_Genre]  WITH CHECK ADD FOREIGN KEY([movieID])
REFERENCES [dbo].[Movie] ([movieID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie_Lang]  WITH CHECK ADD FOREIGN KEY([langID])
REFERENCES [dbo].[Lang] ([langID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie_Lang]  WITH CHECK ADD FOREIGN KEY([movieID])
REFERENCES [dbo].[Movie] ([movieID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subtitle]  WITH CHECK ADD FOREIGN KEY([langID])
REFERENCES [dbo].[Lang] ([langID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subtitle]  WITH CHECK ADD FOREIGN KEY([movieID])
REFERENCES [dbo].[Movie] ([movieID])
ON DELETE CASCADE
GO
USE [master]
GO
