<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="IRHomework.Properties.Settings.MovieTrackConnectionString"
      connectionString="Data Source=BILALO89-VAIO;Initial Catalog=MovieTrack;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IRHomework.Properties.Settings.MovieTrack1ConnectionString"
      connectionString="Data Source=BILALO89-VAIO;Initial Catalog=MovieTrack1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VDS.Common" publicKeyToken="ab5f4eb908061bf0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.3.0" newVersion="1.1.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
